<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1 class="designer">Designer quotes</h1>

        </div>
        <div class="col">
            <h1 class="bobs mx-5"><span><i class="fa-brands fa-xing"></i></span>148</h1>
        </div>
        <div class="col">
            <h1 class=" bazen mx-5">Bazen</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h1 class="hero-1"><span class="quote-left">
                <i class="fa-solid fa-quote-left"></i>
                
            </span>Creativity is intelligence having fun</h1>
            <h2 class="hero-2 mt-5">Christopher Neiman</h2>
        </div>
        <div class="side col">
            <img class="hero-image" src="https://images.pexels.com/photos/3031391/pexels-photo-3031391.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="200">

        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-1">
            <h2 class="dates">1997 24 January Moughins France</h2>
        </div>
        <div class="col-md-4 mx-5">
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ab eligendi unde fuga. Debitis aspernatur facilis enim non voluptas ex tempore. Dolore id vitae similique aut itaque harum distinctio dignissimos. Ea dignissimos tenetur, illo
                mollitia cumque sint saepe, aliquid obcaecati magnam laborum quia porro iste! Ducimus voluptates alias voluptatibus molestiae?</p>
        </div>
    </div>
</div>
<app-quotes></app-quotes>
<div id="grunge" class="container ">
    <div class="row">
        <h2 id="grungy" class=" text-center mt-5 my-5">The Grunge Section </h2>

        <div class="col-4">


            <img src="https://images.pexels.com/photos/6918064/pexels-photo-6918064.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="300">
            <h2 class="italy">Bueno fuego</h2>

            <p class="grunge-1 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ex perspiciatis minus amet earum porro exercitationem assumenda eum deserunt? Aliquam voluptate, iure nam necessitatibus similique id vero corporis praesentium architecto.</p>
        </div>
        <div class="italia col-3 mx-5">
            <img src="https://images.pexels.com/photos/757183/pexels-photo-757183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="300">
            <h2 class="italy">1800 ~ le batist</h2>
            <p class="grunge-1 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ex perspiciatis minus amet earum porro exercitationem assumenda eum deserunt? Aliquam voluptate, iure nam necessitatibus similique id vero corporis praesentium architecto.</p>

        </div>
        <div class="italia col-3 mx-5">
            <img src="https://images.pexels.com/photos/2157168/pexels-photo-2157168.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="300">
            <h2 class="italy">Italy ~ monte carlo</h2>
            <p class="grunge-1 mt-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ex perspiciatis minus amet earum porro exercitationem assumenda eum deserunt? Aliquam voluptate, iure nam necessitatibus similique id vero corporis praesentium architecto.</p>

        </div>
    </div>

</div>
<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="#">Desinged by Bruno</a>
    </div>
    <!-- Copyright -->
</footer>