<div class="container">
    <div class="row mt-3">
        <div class="col">
            <h1 class="designer">Designer quotes</h1>

        </div>
        <div class="col">
            <h1 class="bobs mx-5">148</h1>
        </div>
        <div class="col">
            <h1 class=" bazen mx-5">Bazen</h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h1 class="hero-1">Creativity is intelligence having fun</h1>
            <h2 class="hero-2 mt-5">Christopher Neiman</h2>
        </div>
        <div class="side col">
            <img class="hero-image" src="https://images.pexels.com/photos/3031391/pexels-photo-3031391.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" height="200">

        </div>
    </div>
    <div class="row mt-5 ">
        <div class="col-1">
            <h2 class="dates">1997 24 January Moughins France</h2>
        </div>
        <div class="col-md-4 mx-5">
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ab eligendi unde fuga. Debitis aspernatur facilis enim non voluptas ex tempore. Dolore id vitae similique aut itaque harum distinctio dignissimos. Ea dignissimos tenetur, illo
                mollitia cumque sint saepe, aliquid obcaecati magnam laborum quia porro iste! Ducimus voluptates alias voluptatibus molestiae?</p>
        </div>
    </div>
</div>
<app-quotes></app-quotes>