#card-1 {
    width: 400px;
    height: 300px;
    border-radius: 25px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.quota {
    font-family: 'Rye', cursive;
    font-weight: bold;
}

.cont-1 {}

.lead {
    font-weight: bold;
    font-family: 'Tulpen One', cursive;
}

.left {
    font-size: 20px;
}

.author {
    margin-left: 60%;
    margin-bottom: 75px;
}

.card-footer {
    margin-top: 26%;
}

.space {
    margin-right: 9%;
}