#card-1 {
    width: 400px;
    height: 300px;
    border-radius: 25px;
}

.author {
    margin-left: 60%;
    margin-bottom: 75px;
}

.card-footer {
    margin-top: 26%;
}

.space {
    margin-right: 9%;
}